body {
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1200px;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  height: 700px;
  text-transform: uppercase;
  color: white;
  background: radial-gradient(circle, #00d9e9 25%, #00aec1 75%);
}

.header__container {
  height: 80px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 800px 1fr;
      grid-template-columns: 1fr 800px 1fr;
  grid-gap: 50px;
  margin: 10px 0;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.header .nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.header .more {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-end;
  padding: 10px;
}

.header .more {
  display: inline-block;
}

.hero {
  display: -ms-grid;
  display: grid;
  height: 600px;
  -ms-flex-line-pack: end;
      align-content: end;
  margin-top: 100px;
}

.hero__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.hero__container .col-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.btn {
  font-family: 'Damion', cursive;
  border: 0;
  color: #ffffff;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: 2;
  position: relative;
}

.btn--purple {
  background-color: #9068be;
}

.btn--orange {
  background-color: #e46e48;
}

.btn--cyan {
  background-color: #03c6d8;
}

.btn--bg {
  width: 240px;
  height: 60px;
  font-size: 28px;
}

.btn--md {
  width: 180px;
  height: 46px;
  font-size: 24px;
  margin-left: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn--sm {
  min-width: 170px;
  min-height: 40px;
  font-size: 20px;
}

.grey {
  background-color: #f6f6f6;
}

.text {
  font-size: 36px;
  text-shadow: 0.5px 0.866px 2px rgba(0, 0, 0, 0.21);
  line-height: 1.25;
}

.text--big {
  font-size: 50px;
  font-weight: bold;
}

.text--md {
  font-size: 30px;
}

.text--sm {
  font-size: 18px;
}

.text--desc {
  margin: 25px 0;
  text-transform: none;
  line-height: 26px;
}

.text--grey {
  color: #828282;
}

.text--orange {
  color: #e46e48;
}

.about .col-right {
  height: 335px;
}

.about__container {
  width: 1200px;
  height: 700px;
  margin: 40px 0;
}

.about__h2:after {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  background-color: #03c6d8;
  margin: 0 auto;
  margin-top: 20px;
}

.about__img {
  -webkit-box-shadow: 0px 0px 18px 0px rgba(42, 66, 94, 0.33);
          box-shadow: 0px 0px 18px 0px rgba(42, 66, 94, 0.33);
  z-index: 25;
}

.about__desc {
  padding: 20px;
  line-height: 22px;
}

.about__desc--bp {
  padding: 30px;
  line-height: 30px;
}

.newsletter {
  height: 140px;
  background-color: #9068be;
}

.newsletter__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.57fr;
      grid-template-columns: 1fr 1.57fr;
}

.newsletter__desc {
  color: white;
  padding: 5px 0;
}

.newsletter__desc h3 {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 25px;
  font-weight: 600;
  padding: 5px 0;
}

.newsletter__desc p {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 14px;
  padding: 9px 0;
}

.newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

[type="text"],
[type="email"] {
  width: 33.3%;
  height: 42px;
}

.align-center {
  text-align: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */